<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Lykke Rules" Description="Rules, already!" ToolsVersion="10.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <!-- The rule below is not relevant in ASP.NET Core projects, see: https://stackoverflow.com/questions/42053135/configureawaitfalse-relevant-in-asp-net-core. -->
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA2007" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>